.page {
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}

.page__container {
  max-width: 1920px;
  margin: 0 auto;
}

.page__no-scroll {
  overflow: hidden;
}

/* Адаптивность */
@media (max-width: 1440px) {
  .page__container {
    max-width: 1440px;
  }
}

@media (max-width: 768px) {
 .page {
    font-size: 14px;
  }
}